---
title: "Results Set"
layout: module.hbs
module: true
---

<!-- module:results-set -->
{{#parseFixture 'results-set.json'}}
<section class="results-set">
	{{#each items}}
		{{> result }}
	{{/each}}
</section>
{{/parseFixture}}

<!-- end module:results-set -->
