---
title: "Results Set"
layout: module.hbs
module: true
---

<!-- module:results-set -->
{{#parseFixture 'results-set.json'}}
<div class="results-set">
	Results Set
</div>
{{/parseFixture}}

<!-- end module:results-set -->
