// Opinion: No underlines on links, but always underlines on hover (ian)
a {
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

%default-link {
	text-decoration: underline;
	text-shadow: 0 0 0 rgba($jungle-green, 0), 0 0 0 rgba($blue-stone, 0);
	transition: text-shadow 0.4s;

	&:hover,
	&:focus {
		text-shadow: 1px 1px 0 rgba($jungle-green, 0.4), 3px 3px 0 rgba($blue-stone, 0.2);
	}
}
