// Try modifying /helpers/overrides/_foundation.scss before setting global heading styles here

%heading-style {
	font-family: $heading-font;
	line-height: 1;
}

%heading-color {
	color: var(--heading-color);
	text-shadow: 1px 1px 1px var(--heading-shadow-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@extend %heading-style;

	&:not([class]),
	.user-markup &,
	header &,
	.header &,
	.layout & &:not([class]),
	a {
		@extend %heading-color;
	}

	.user-markup & {
		margin: 0 0 1rem;
	}
}

h1 {
	// padding: 0 0 20px;
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	display: block;
}

// Mixin that applies Foundation heading styles to heading classes dynamically
@each $size, $headers in $header-styles {
	@each $header, $font-size in $headers {
		.#{$header} {
			@include breakpoint($size) {
				font-size: rem-calc(map-deep-get($header-styles, $size, $header, 'font-size'));
			}
		}
	}
}
