
dl {
    display: inline-block;

    a {
        background-color: $lightPink;
        border-radius: 4px;
        color: $white;
        @include em_padding(6, 8);
        // @include em_marginright(2);

        &:hover {
            background-color: $pink;
        }
    }
}


.categories {
    a {
        background-color: $lightBlue;
        color: $white;

        &:hover {
            background-color: $blue;
        }
    }
}
@include bp("medium") {

    .tag-container,
    .cat-container { display: block; }

    .tags,
    .categories {

        margin: 0;
        display: inline-block;

        dl {
            display: inline-block;
            margin: 1em 0 0;

            &:before {
                content: ' - ';
                font-weight: bold;
                padding-left: 0.1875em;
            }
            &:first-child:before {
                content: '';
                display: none;
            }

        }

    }

    .tags ~ .cats-header {
        margin-left: 1em;
    }

}
