nav[role=navigation] {
    clear: both;
    overflow: hidden;
    background: $pink;

    .js & {
    	height: 100%;
    	position: absolute;
    	top: 0;
    	left: -16em;

    	@include em_width(256);
    }

    ul {
        margin: 0 0 1em;
        padding: 0;
        border-top: 2px solid $white;
    }

    li {
    	a {
            color: $white;
	        display: block;
	        @include em_padding(6.4, 12.8);
            transition: all 0.3s linear;
	    }
	}

}

a.menu-link {
    display: block;
    color: $pink;
    font-weight: bold;
    @include em_padding(16, 0);
}

@include bp("medium") {

    nav[role=navigation] {

        background: $bodyBgGrey;

        li {

            a {
                display: block;
                color: $white;
                border-bottom: 1px solid $white;
                // @include em_padding(12.8);
                background-color: $lightPink;

                &:hover {
                    background-color: $pink;
                }
            }
        }

        .js & {
            max-width: none;
            position: static;
            width: auto;
        }

    }

    a.menu-link {
        display: none;
    }

}
