.search {
	background-color: $bodyBgGrey;
	border-right: 1px solid $pink;
	position: relative;
	padding: 0;
	// @include em_paddingbottom(8);

	form {

		div {
			padding-right: 5em;
		}

	}

}

#s {
	width: 100%;
	border: none;
	@include em_padding(5, 6.4);
	// @include em_marginleft(4.8);
}

#searchsubmit {
	// margin-left: -3px;
	// @include em_margintop(9.6);
	font-family: $sharetech;
	width:5em;
	font-size:1em;
	position:absolute;
	right:0;
	top:0;
}

@media only screen and (min-width: 45em) {

    .search { border-right: none; }

}
