.widget {

	display: block;
	@include em_padding(16);
	@include em_marginbottom(16);
	@include em_marginright(16);

	p {

		img {
			@include em_padding(8);

			&[align="left"] {
				@include em_padding(8, 8, 8, 0);
			}

			&[align="right"] {
				@include em_padding(8, 0, 8, 8);
			}
		}

	}

	table,
	tbody,
	th,
	tr,
	td { border: 1px solid #000; }

	@include bp("small") {

		float: left;

	}

}
