# PHP Storm
.idea

# Composer installed
vendor
docroot/core
docroot/modules/contrib
docroot/themes/contrib

# Ignore paths that contain user-generated content.
docroot/files
docroot/sites/*/files
docroot/sites/*/private

# OS X
.DS_Store

# Private files
/private
/.editorconfig
/.gitattributes

# Drush config
drush/drush.yml

# Node modules
node_modules

# Compiled
/docroot/web