# PHP Storm
.idea

# Composer installed
vendor
docroot/core
docroot/modules/contrib

# Ignore paths that contain user-generated content.
docroot/files
docroot/sites/*/files
docroot/sites/*/private
docroot/sites/*/settings.local.php

# OS X
.DS_Store

# Private files
/private