.global-footer {
	background-color: $blue-stone;
	border-radius: 3px;
	margin: 100px 0;
	padding: 20px;
	pointer-events: all;
	position: relative;
	z-index: 10;

	&__links {
		padding-bottom: 16px;

		@include breakpoint(medium) {
			display: flex;
			flex-direction: row;
			order: 1;
			padding-bottom: 0;
			width: 50%;
		}
	}

	&__info {
		--heading-color: #{$white};
		color: $white;

		@include breakpoint(medium) {
			order: 2;
			width: 50%;
		}
	}

	&__list {
		@extend %list-reset;
		padding: 0 16px 0 0;

		@include breakpoint(medium) {
			flex: 1 0 auto;
		}
	}

	a,
	&__link {
		color: $white;
		text-decoration: underline;
		transition: color $transition-time;

		&:hover,
		&:focus {
			color: $ronchi;
		}
	}

	&__copyright {
		@include breakpoint(medium) {
			bottom: 0;
			font-size: 14px;
			position: absolute;
			right: 20px;
		}
	}

	@include breakpoint(medium) {
		display: flex;
		flex-direction: row;
	}

	@include breakpoint(medium) {
		display: flex;
		flex-direction: row;
	}
}
