<!doctype html>
<html class="md-no-js" lang="en">
<head>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<!-- http://microformats.org/wiki/hcard-cheatsheet -->
	<link rel="profile" href="http://microformats.org/profile/hcard" />

	<title>Grid</title>

	<base href="../"/>

	<link href="https://fonts.googleapis.com/css?family=Inconsolata|Exo|PT+Sans" rel="stylesheet">

	<!-- build:css css/main.css -->
	<link rel="stylesheet" href="css/main.css" />
	<!-- endbuild -->

	<!-- build:js js/plugins/modernizr.optimized.js -->
	<script src="js/plugins/modernizr.js"></script>
	<!-- endbuild -->

</head>
<body>


	<div class="container">

		<!-- organism:grid -->
		<!-- molecule:grid -->
		<div class="grid">
		    Grid
		</div>
		<!-- end molecule:grid -->
<!-- end organism:grid -->


	</div>

	<!-- build:js js/main.js -->
	<script src="js/main.js"></script>
	<!-- endbuild -->

</body>
</html>
