.content {
	$this: &;
	background-color: $white;
	border-radius: 3px;
	box-shadow: 0 0 3px $black;
	padding: var(--flow-space, $flow-space);
	position: relative;
	z-index: 10;

	time {
		color: $dusty-grey;
		display: block;
		font-style: italic;
		font-weight: bold;
	}
}
