.content {
	$this: &;
	background-color: $white;
	border-radius: 3px;
	box-shadow: 0 0 3px $black;
	padding: 0;
	position: relative;
	z-index: 10;

	time {
		color: $dusty-grey;
		display: block;
		font-style: italic;
		font-weight: bold;
	}

	.links a {
		background-color: $jungle-green;
		font-weight: 700;
	}

	&__header {
		padding: 20px 20px 0;

		.views-row & {
			padding: 20px 0 0;
		}

		&.view-header {
			background-color: $white;
			border-radius: 3px;
			box-shadow: 0 0 3px $black;
			padding: 10px 20px 3px;
		}
	}

	&__footer,
	&__body {
		display: inline-block;
		overflow: auto;
		padding: 0 20px;
		width: 100%;

		p {
			padding: 0;
		}
	}

	&__body {
		margin-bottom: 1rem;
	}

	&__figure {
		margin: 20px -20px;
		position: relative;
		z-index: 11;

		img,
		picture {
			width: 100%;
		}

		figcaption {
			background-color: $blue-stone;
			color: $white;
			font-size: 14px;
			padding: 8px 10px;
			width: 100%;
			z-index: 12;

			@include breakpoint(medium) {
				border-radius: 3px;
				bottom: 16px;
				font-size: 16px;
				left: 25px;
				padding: 8px 21px;
				position: absolute;
				width: calc(100% - 50px);
			}
		}

		@include breakpoint(medium) {
			margin: 20px -46px;

			img,
			picture {
				border-radius: 3px;
			}
		}
	}

	&__footer {
		margin-bottom: -1rem;
		overflow: auto;
	}

	&--snippet {
		padding: 20px 0;

		#{$this}__header {
			padding: 0;
		}

		h1 {
			@extend %font-h3;
		}
	}

	.user-login-form {
		padding: 0 20px 10px;
	}
}
