#footer {

	clear: both;
	@include em_fontsize(12.8);
	@include em_padding(0, 12.8, 0, 12.8, 12.8);

	.copyright {
		@include em_padding(0);
		@include em_margin(0);
	}

	.navigation {
		@include em_padding(0);
		@include em_margin(0, 0, 8, 0);

		li {
			display: inline-block;
			background-color: $pink;
			@include em_margintop(6.4);

			a {
				color: $white;
				@include em_padding(6.4);

			}

		}

	}

	@include bp("medium") {
		& {
			// position: fixed;
			// bottom: 2em;
			// left: 1em;
			@include em_width(304);
			// @include em_padding(0, 6.4);
		}
	}

	ul {
		margin: 0;
		padding: 0;
	}

	.menu-item {
		list-style: none;
		// margin-bottom: 0.2em;

		a {
			display: block;
			background-color: $lightPink;
			color: $white;
			@include em_padding(6.4, 12.8);
			transition: all 0.3s linear;
			border-bottom: 1px solid $white;

			&:hover {
			    background-color: $pink;
			}
		}
	}

}
