#header {

	// padding: 0.5em 1em;

	h1 {

		background-color: $lightPink;
		margin: 0;
		padding: 0.5em;

		a,
		a:visited {
			color: $white;
		}

	}

	@include bp("medium") {

		position: fixed;
		padding: 1em;
		width: 18em;
		height: 100%;
		display: block;
		border-right-style: dotted;
		border-right-width: 0.5em;
		border-right-color: $borderGrey2;

	}

}
