{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

<footer{{ attributes }}>

	<h3>Contact Me</h3>
	<p>You can find me the easiest on Twitter. I'm on Facebook too but I don't really friend people I don't know, and I'm on LinkedIn but I mostly ignore it unless the person explains why they are connecting with me.</p>
	<p>On Twitter I mostly just muse random thoughts into the void or retweet stuff.</p>
	<p>I don't freelance, so don't even ask.</p>
	{% if content %}
		{{ content }}
	{% endif %}
</footer>

