<article class="work content">
	<a class="work__link" href="{{url}}" rel="noopener">
		<div class="work__content user-markup">
			<h2>{{ name }}</h2>
			{{render '@rundown' rundown merge=true }}
		</div>
	</a>
</article>
