<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<!-- http://microformats.org/wiki/hcard-cheatsheet -->
	<link rel="profile" href="http://microformats.org/profile/hcard"/>

	<link media="all" rel="stylesheet" href="../../css/main.css">

	<title>Detail Page: Default</title>

	<script type="text/javascript" src="../../js/plugins/modernizr.js"></script>

</head>
<body>
	<svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>


	<div class="container">
		<main class="main level row column">

			<article class="content">

				<div class="user-markup">

					<header>
						<h1>Lorem ipsum dolor sit amet</h1>
						<time>August 4th, 2019</time>
					</header>

					<dl class="rundown">
						<dt class="rundown__term">Team</dt>
						<dd class="rundown__definition">BarkleyREI</dd>
						<dt class="rundown__term">Client</dt>
						<dd class="rundown__definition">Central Piedmont Community College</dd>
						<dt class="rundown__term">Involvement</dt>
						<dd class="rundown__definition">Static coding of base templates and integration of those templates into Drupal 8.</dd>
						<dt class="rundown__term">Technology</dt>
						<dd class="rundown__definition">Drupal 8</dd>
					</dl>


					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur enim est expedita fuga maiores necessitatibus obcaecati quae quibusdam, ut! Deserunt dignissimos dolores molestias mollitia nostrum quaerat repudiandae rerum veritatis.</p>

					<p><a href="https://www.cpcc.edu/" rel="noopener">Visit this project</a></p>

					<p><em>This website/project is no longer live or accessible.</em></p>

				</div>

			</article>


			<footer id="js-global-footer" class="global-footer">
				<section class="global-footer__info">
					<h2>Hi! I'm Ian Moffitt.</h2>

					<p>I'm a
						<a href="https://css-tricks.com/poll-results-front-end-front-end/" title="front-end" rel="noopener">front-end</a>
						developer working in Pittsburgh, PA.</p>

					<a class="logo" href="/" title="Home Page">
						<img src="/img/logo.svg" alt="Ian Moffitt"/>
					</a>

				</section>

				<section class="global-footer__links">
					<ul class="global-footer__list">
						<li>
							<a href="https://www.twitter.com/nessthehero" title="Twitter" class="global-footer__link">Twitter</a>
						</li>
					</ul>

					<ul class="global-footer__list">
						<li><a class="global-footer__link" href="/about.html">About Me</a></li>
					</ul>
				</section>
			</footer>

		</main>
	</div>

	<div id="base" class="grid-base"></div>


	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

	<script type="text/javascript" src="/js/vendor.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>

</body>
</html>

