.button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display:inline-block;
    border:0;
    border-radius:0;
    outline:0;
    background:$lightPink;
    // box-shadow:1px 0 1px #ea373b,0px 1px 1px #ff5256,2px 1px 1px #ea373b,1px 2px 1px #ff5256,3px 2px 1px #ea373b,2px 3px 1px #ff5256,4px 3px 1px #ea373b,3px 4px 1px #ff5256,5px 4px 1px #ea373b,4px 5px 1px #ff5256,6px 5px 1px #ea373b;
    color:#FFF;
    white-space:nowrap;
    line-height:1.4;
    position:relative;
    // top:-5px;
    padding:4px 8px;
    // margin-top: 0.4em;
}

.button:hover,
.button:focus,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color:#FFF;
    background:$pink;
}

// .button:active,
// input[type="submit"]:active,
// input[type="reset"]:active,
// input[type="button"]:active {
//     // box-shadow:1px 0 1px #ea373b,0px 1px 1px #ff5256,2px 1px 1px #ea373b,1px 2px 1px #ff5256,3px 2px 1px #ea373b;
//     -webkit-transform:translate(3px,3px);
//     -moz-transform:translate(3px,3px);
//     -ms-transform:translate(3px,3px);
//     -o-transform:translate(3px,3px);
//     transform:translate(3px,3px);
// }

// .button:after,
// input[type="submit"]:after,
// input[type="reset"]:after,
// input[type="button"]:after {
//     content:"";
//     position:absolute;
//     top:0;
//     left:0;
//     right:-5px;
//     bottom:-5px;
// }

// .button:active:after,
// input[type="submit"]:active:after,
// input[type="reset"]:active:after,
// input[type="button"]:active:after {
//     top:-3px;
//     left:-3px;
//     right:-2px;
//     bottom:-2px;
// }
