.comments {
	display: block;
	font-weight: bold;

	& > ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.comment-form-comment {

	label {
		display: block;
		margin-bottom: 1em;
		font-weight: bold;
	}

}

.comment {

	list-style: none;
	margin-top: 2em;
	position: relative;
	border-left: 1px solid $lightPink;

	.comment-author {
		float: left;
	}

	img {
		@include em_padding(0, 8, 8, 0);
	}

	cite {
		position: absolute;
		left: 1em;
		top: -1.6em;
	}

	.says {
		display: none;
	}

	.reply {
		text-align: right;
	}

	.comment-body {
		overflow: auto;
		padding-left: 1em;
	}

	ul {
		@include em_paddingleft(8);

		@include bp("tiny") {
			@include em_paddingleft(30);
		}
	}

}
