include ../mixins/_all.pug

block vars
doctype html
html
    head
        title #{title}
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        block meta
        link(rel="stylesheet" href="/assets/css/main.css")
        block header-scripts
    body
        block body-top
        main.main.grid-container
            block content
            include ../partials/footer.pug
        canvas#base.grid-base
        script(src="/assets/js/main.js" type="module")
        block scripts

