{% include "../mixins/_all.njk" %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	{% block meta %}

	{% endblock %}
	<link rel="stylesheet" href="/assets/css/main.css">
	{% block headerscripts %}

	{% endblock %}
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-FQ0XY1MBQM"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-FQ0XY1MBQM');
	</script>
</head>
<body>
	{% block bodytop %}{% endblock %}
	<main class="main grid-container">
		{% block content %}{% endblock %}
	</main>
	<canvas id="base" class="grid-base"></canvas>
	<script src="/assets/js/main.js" type="module"></script>
	{% block scripts %}{% endblock %}
</body>
</html>