<ul>
	<li>Lorem ipsum dolor sit.</li>
	<li>Lorem ipsum dolor sit.</li>
	<li>Lorem ipsum dolor sit.</li>
	<li>Lorem ipsum dolor sit.</li>
	<li>
		<ul>
			<li>Lorem ipsum dolor sit.</li>
			<li>Lorem ipsum dolor sit.</li>
			<li>Lorem ipsum dolor sit.</li>
			<li>Lorem ipsum dolor sit.</li>
		</ul>
	</li>
</ul>

<ol>
	<li>Lorem ipsum dolor sit.</li>
	<li>Lorem ipsum dolor sit.</li>
	<li>Lorem ipsum dolor sit.</li>
	<li>Lorem ipsum dolor sit.</li>
	<li>
		<ol>
			<li>Lorem ipsum dolor sit.</li>
			<li>Lorem ipsum dolor sit.</li>
			<li>Lorem ipsum dolor sit.</li>
			<li>Lorem ipsum dolor sit.</li>
		</ol>
	</li>
</ol>

<ul>
	<li>Lorem ipsum dolor sit.</li>
	<li>Lorem ipsum dolor sit.</li>
	<li>Lorem ipsum dolor sit.</li>
	<li>Lorem ipsum dolor sit.</li>
	<li>
		<ol>
			<li>Lorem ipsum dolor sit.</li>
			<li>Lorem ipsum dolor sit.</li>
			<li>Lorem ipsum dolor sit.</li>
			<li>Lorem ipsum dolor sit.</li>
		</ol>
	</li>
</ul>

<ol>
	<li>Lorem ipsum dolor sit.</li>
	<li>Lorem ipsum dolor sit.</li>
	<li>Lorem ipsum dolor sit.</li>
	<li>Lorem ipsum dolor sit.</li>
	<li>
		<ul>
			<li>Lorem ipsum dolor sit.</li>
			<li>Lorem ipsum dolor sit.</li>
			<li>Lorem ipsum dolor sit.</li>
			<li>Lorem ipsum dolor sit.</li>
		</ul>
	</li>
</ol>
