// For all WYSIWYG powered text
.user-markup {
	// --heading-color: #{$white};
	// --heading-shadow-color: #{$powder-blue};

	p {
		overflow: auto; // Clears any floated content, like images
	}

	p,
	dt,
	dd,
	li {
		font-size: 1.1rem;
		line-height: 1.6;
	}

	dd {
		margin-bottom: 1rem;
	}

	a {

		@extend %default-link;
	}

	header {
		padding: 0 0 1rem;
	}

	pre {
		padding-bottom: $code-block-padding;
	}

	.links {

		@extend %list-reset;
	}

	> :last-child {
		margin-bottom: 0;
	}
}
