<!-- partial:media -->
<figure class="media media--slider">
	<div class="media__item">
		<div class="image" style="background-image: url('http://placehold.it/550x350');"></div>
		<figcaption>
			<p>I'm a caption for this image and it's really neat. Cool stuff man.</p>
		</figcaption>
	</div>
	<div class="media__item">
		<div class="image" style="background-image: url('http://placehold.it/550x350');"></div>
		<figcaption>
			<p>I'm a caption for this image and it's really neat. Cool stuff man.</p>
		</figcaption>
	</div>
</figure>
<!-- end partial:media -->
