<!-- partial:result -->
<article class="result">
	<a href="#">
		<img class="thumbnail" src="http://placehold.it/550x550">
		<h5>This is not the best song in the world</h5>
	</a>
</article>
<!-- end partial:result -->
