::-moz-selection {
	background: #a2cdee;
	text-shadow: none;
}

::selection {
	background: #a2cdee;
	text-shadow: none;
}

@media not (prefers-reduced-motion: reduce) {
	@view-transition {
		navigation: auto;
	}

	main { view-transition-name: content; }
	.grid-base { view-transition-name: grid; }

	/* Old stuff going out */
	::view-transition-old(content) {
		animation: fade 0.2s linear forwards;
	}

	/* New stuff coming in */
	::view-transition-new(content) {
		animation: fade 0.3s linear reverse;
	}

	@keyframes fade {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
}

body {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAIAAACQKrqGAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAPklEQVQokd3MsQ0AMAgDwdgyEpTsPxyjkCY96SLl69Ojqkia2ZoSSUnuPlNJEZGZIyWAER3a3bf0+fXS/Us3lcIJWaJk9Y8AAAAASUVORK5CYII=);
	background-position: -1px -1px;
	background-origin: border-box;
	background-repeat: repeat;
}

main {
	padding-top: var(--flow-space, 2.5rem);
	pointer-events: none;
	position: relative;
	z-index: 2;
}

main > * + *,
.flow > * + * {
	margin-top: var(--flow-space, 2.5rem);
}

[class] :is(h1, h2, h3, h4, h5, h6) {
    color: var(--heading-color);
    text-shadow: 1px 1px 1px var(--heading-shadow-color);
    -webkit-transition: color 0.425s, text-shadow 0.425s;
    transition: color 0.425s, text-shadow 0.425s;
}

:is(.h1, .h2, .h3, .h4, .h5, .h6) {
    display: block;
}

h1 {
	font-size: 38px;
}

@media screen and (min-width: 768px) {
	h1 {
		font-size: 56px;
	}
}

@media screen and (min-width: 1024px) {
	h1 {
		font-size: 72px;
	}
}

