.content {
    background-color: #ffffff;
    border: 2px solid rgba(10, 10, 10, 0.2);
    padding: 0 16px;
    pointer-events: all;
    position: relative;
    z-index: 10;
    display: inline-block;
    width: 100%;

    header {
        margin-top: 16px;
    }

    time {
        font-weight: 600;
    }

    .user-markup {
        margin: 16px 0;
    }
}

.content--snippet {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;

	header {
		flex: 1 0 auto;
		max-width: calc(100% - 5rem);
		margin-top: 0;
		padding-right: 1rem;

		:is(h1, h2, h3, h4, h5, h6) {
			margin: 0;
			padding: 0;
		}
	}

	.user-markup {
		padding: 0;
		margin: 0;
	}
}
