@layer vendor, root, reset, base, module;

@import url("https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/css/foundation.min.css") layer(vendor);

@import "_vars.css" layer(root);
@import "_reset.css" layer(reset);
@import "_base.css" layer(base);
@import "_drupal.css" layer(base);
@import "_global-footer.css" layer(base);
@import "_user-markup.css" layer(module);
@import "_content.css" layer(module);
@import "_spotify.css" layer(module);
/*@import "_expand.css" layer(module);*/
/*@import "_masthead.css" layer(module);*/

::-moz-selection {
    background: #a2cdee;
    text-shadow: none;
}

::selection {
    background: #a2cdee;
    text-shadow: none;
}

body {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAIAAACQKrqGAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAPklEQVQokd3MsQ0AMAgDwdgyEpTsPxyjkCY96SLl69Ojqkia2ZoSSUnuPlNJEZGZIyWAER3a3bf0+fXS/Us3lcIJWaJk9Y8AAAAASUVORK5CYII=);
    background-position: -1px -1px;
	background-origin: border-box;
    background-repeat: repeat;
}

.grid-base {
    left: 0;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 1;
    opacity: 0;
}

.grid-base.ready {
    transition: opacity 1s linear;
}

.grid-base.loaded {
    opacity: 1;
}

main {
    padding-top: var(--flow-space, 2.5rem);
    pointer-events: none;
    position: relative;
    z-index: 2;
}

main > * + *,
.flow > * + * {
    margin-top: var(--flow-space, 2.5rem);
}

.logo {
    display: inline-block;
    margin: 10px 0 0;
    width: 45px;

    .letter_i {
        fill: var(--color-secondary);
    }

    .letter_m {
        fill: var(--color-secondary-light);
    }
}

.button {
	background-color: var(--color-primary);

	&:hover,
	&:active {
		color: var(--color-tertiary);
	}
}





