@layer vendor, root, reset, base, module;

@import url("https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/css/foundation.min.css") layer(vendor);

@import "_vars.css" layer(root);
@import "_reset.css" layer(reset);
@import "_base.css" layer(base);
@import "_drupal.css" layer(base);
@import "_global-footer.css" layer(base);
@import "_user-markup.css" layer(module);
@import "_content.css" layer(module);
@import "_spotify.css" layer(module);
/*@import "_expand.css" layer(module);*/
/*@import "_masthead.css" layer(module);*/

.grid-base {
    left: 0;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 1;
    opacity: 0;
}

.grid-base.ready {
    transition: opacity 1s linear;
}

.grid-base.loaded {
    opacity: 1;
}

.logo {
    display: inline-block;
    margin: 10px 0 0;
    width: 45px;

    .letter_i {
        fill: var(--color-secondary);
    }

    .letter_m {
        fill: var(--color-secondary-light);
    }
}

.button {
	background-color: var(--color-primary);

	&:hover,
	&:active {
		color: var(--color-tertiary);
	}
}
