.level {
	position: relative;

	.article {
		@include breakpoint(large) {
			float: right;
			margin-left: 2rem;
		}

		&__header {
			margin-bottom: 1rem;
		}

		&__introduction {
			font-family: $heading-font;
			font-style: italic;
			font-weight: 600;
		}

		&__dates {
			time,
			span {
				display: block;
				font-size: 20px;
			}

			time {
				padding-bottom: 0.5rem;
			}
		}
	}
}
