---
title: Home Page
template: true
layout: home.hbs
---

<header class="article__header">
	<h1>Hello! My name is Ian Moffitt. I make websites.</h1>
</header>

<div class="user-markup">

	<p>My site is currently in progress, but it will be ready soon.</p>

	<p>You can check out my <a href="http://www.github.com/nessthehero">GitHub Profile</a> to see some cool things I've
		built.</p>

</div>

{{> _results-set }}
