{{ render '@work-grid' }}

<article class="content">

	{{#> @user-markup }}

		<header>
			<h1>Heading for whatever this is</h1>
			<time>August 4th, 2019</time>
		</header>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur enim est expedita fuga maiores necessitatibus obcaecati quae quibusdam, ut! Deserunt dignissimos dolores molestias mollitia nostrum quaerat repudiandae rerum veritatis.</p>

	{{/@user-markup}}

</article>

<article class="content">

	{{#> @user-markup }}

		<header>
			<h1>Heading for whatever this is</h1>
			<time>August 4th, 2019</time>
		</header>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur enim est expedita fuga maiores necessitatibus obcaecati quae quibusdam, ut! Deserunt dignissimos dolores molestias mollitia nostrum quaerat repudiandae rerum veritatis.</p>

	{{/@user-markup}}

</article>
