//Basics
$white: #fff;
$black: #000;

$bodyBgGrey: #fafafa;

$fontGrey: #333;

$borderGrey: #999;
$borderGrey2: #CCC;

$pink: #B22B4A;
$lightPink: #FF577D;

$blue: #3491B2;
$lightBlue: #31A3CC;

$yellow: #FFF770;
