.loop,
.single-post {
	@include em_marginbottom(16);
}

.post {

	.author {
		font-weight: bold;
		display: block;
	}

	h1 {
		position: relative;
		font-family: "Share Tech", sans-serif;
		line-height: 1;
		@include em_fontsize(48);

		a {
			color: $fontGrey;
			display: inline;
		}
	}

	img {
		max-width: 100%;
	}

	p {

		img {

			@include em_padding(8);

			&[align="left"] {
				@include em_padding(8, 8, 8, 0);
			}
			&[align="right"] {
				padding: 0.5em 0 0.5em 0.5em;
			}

		}

	}

	table,
	tbody,
	th,
	tr,
	td {
		border: 1px solid $black;
	}

	time {
		font-weight: bold;
		display: block;
		@include em_fontsize(24);
		@include em_marginbottom(16, 24);
	}

	article {
		@include em_marginbottom(48);
	}

	@include bp("medium") {

	    h1 {

	    	a:before {
	    		content: '{';
	    		position: absolute;
	    		left: -0.5em;
	    		top: -0.1em;
	    		font-size: 1em;
	    	}

	    	a:after {
	    		content: '}';
	    		position: absolute;
	    		right: -0.5em;
	    		bottom: -0.1em;
	    		font-size: 1em;
	    	}

	    }

	}

}

.post-edit-link {
	display: block;
	@include em_margintop(16);
}
