


<article class="content">

<div class="user-markup">
  
  		<header>
  			<h1>Lorem ipsum dolor sit amet</h1>
  			<time>August 4th, 2019</time>
  		</header>
  
  			<dl class="rundown">
			<dt class="rundown__term">Team</dt>
			<dd class="rundown__definition">BarkleyREI</dd>
			<dt class="rundown__term">Client</dt>
			<dd class="rundown__definition">Central Piedmont Community College</dd>
			<dt class="rundown__term">Involvement</dt>
			<dd class="rundown__definition">Static coding of base templates and integration of those templates into Drupal 8.</dd>
			<dt class="rundown__term">Technology</dt>
			<dd class="rundown__definition">Drupal 8</dd>
	</dl>

  
  		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur enim est expedita fuga maiores necessitatibus obcaecati quae quibusdam, ut! Deserunt dignissimos dolores molestias mollitia nostrum quaerat repudiandae rerum veritatis.</p>
  
  		<p><a href="https://www.cpcc.edu/" rel="noopener">Visit this project</a></p>
  
  		<p><em>This website/project is no longer live or accessible.</em></p>
  
</div>

</article>

