.result {

	// Variables
	$this: &;
	$color: $black;
	$background-color: $white;

	// Styles
	position: relative;
	z-index: 55;
	margin-bottom: 1rem;
	overflow: hidden;

	@include breakpoint(large) {
		margin-bottom: 3rem;
	}

	a {
		color: $black;
		display: block;

		&:before {
			content: '';
			width: 200%;
			height: 200%;
			background-color: rgba($black, 0.2);
			transform: rotate(45deg);
			position: absolute;
			z-index: 58;
			top: 0;
			left: 41%;
		}

		&:after {
			content: '';
			width: 100%;
			height: 100%;
			background-color: rgba($black, 0.4);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 56;
			transform: translateX(0) translateY(0);
			transition: transform 0.425s;
		}

		&:hover,
		&:focus {
			color: $black;

			&:after {
				transform: translateX(10px) translateY(10px);
			}

			img {
				//box-shadow: 10px 10px 0 0 rgba($black, 0.4);
			}
		}
	}

	img {
		position: relative;
		z-index: 57;
		margin: 0;
		//box-shadow: 0 0 0 0 rgba($black, 0.4);
		//transition: box-shadow 0.9s;
	}

	h5 {
		position: absolute;
		bottom: 4px;
		left: 4px;
		margin: 0;
		width: calc(100% - 8px);
		z-index: 58;
		padding: 5px;
		color: $white;
		text-shadow: 0 0 2px $black;
		//background-color: rgba($black, 0.2);
	}

}
