// For all WYSIWYG powered text

.user-markup {

	p,
	dt,
	dd,
	li {
		font-size: 1.1rem;
		line-height: 1.6;
	}

	a {
		transition: text-shadow 0.4s;
		text-shadow: 0 0 0 rgba($jungle-green, 0), 0 0 0 rgba($blue-stone, 0);

		&:hover,
		&:focus {
			text-decoration: none;
			text-shadow: 1px 1px 0 rgba($jungle-green, 0.4), 3px 3px 0 rgba($blue-stone, 0.2);
		}
	}

}
