@media only screen and (min-width: 45em) {

    .tag-container,
    .cat-container { display: block; }

    .tags,
    .categories { margin: 0; display: inline-block; }
    .tags dl,
    .categories dl { display: inline-block; margin: 0; }

    .categories dl:before { content: ' - '; font-weight: bold; padding-left: 0.1875em; }
    .categories dl:first-child:before { content: ''; }

    .tags dl:before { content: ' ~ '; font-weight: bold; padding-left: 0.1875em;  }
    .tags dl:first-child:before { content: ''; }

    .tags ~ .cats-header {
        margin-left: 1em;
    }

}