.container {
	//background-color: transparent;
	//background-image: url('../img/grid.png');
	//background-position: -1px 0;
	//background-repeat: repeat;
	//min-height: 100vh;
	position: relative;
}

.main {
	padding-top: var(--flow-space, $flow-space);

	> * + * {
		margin-top: var(--flow-space, $flow-space);
	}
}

.flow {
	> * + * {
		margin-top: var(--flow-space, $flow-space);
	}
}
