.results-set {

	// Variables
	$this: &;
	$color: $black;
	$background-color: $white;

	// Styles
	max-width: 900px;
	margin-right: 0;
	margin-top: 1rem;
	padding: 0 20px;

	@include breakpoint(medium) {
		margin-top: 2rem;
		margin-left: auto;
		padding: 0 40px;

		display: grid;
		// scss-lint:disable PropertySpelling
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 20px;
		grid-row-gap: 20px;
		// scss-lint:enable PropertySpelling
	}
}
