.masthead {

	// Variables
	$this: &;
	$color: $black;
	$background-color: $white;

	// Styles
	position: relative;
	z-index: 55;
	padding: 0;

	@include breakpoint(large) {
		max-width: rem-calc(700);
		float: right;
		border-color: $dusty-grey;
		border-style: solid;
		border-width: 0 5px;
	}

	@include breakpoint(xlarge) {
		max-width: rem-calc(900);
	}

	.image {
		padding-bottom: 30vh;
	}

}
