{{> @masthead masthead }}

<article class="content">

	{{#> @user-markup }}

		<header>
			<h1>{{ heading }}</h1>
			<time>August 4th, 2019</time>
		</header>

		{{ render '@rundown' }}

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur enim est expedita fuga maiores necessitatibus obcaecati quae quibusdam, ut! Deserunt dignissimos dolores molestias mollitia nostrum quaerat repudiandae rerum veritatis.</p>

		<p><a href="https://www.cpcc.edu/" rel="noopener">Visit this project</a></p>

		<p><em>This website/project is no longer live or accessible.</em></p>

	{{/@user-markup}}

</article>
