.admin-local-tasks {
	a {
		@include button();
	}
}

.links.inline {
	@extend %inline-list;

	li {
		margin-right: 0.5rem;
	}

	a {
		@include button();
	}
}

.field--name-comment-body {
	label {
		@include hide-for(small);
	}
}

.form-actions {
	margin-top: 1rem;
}

.js-comment {
	border-top: 1px solid $medium-gray;
	margin: 16px 0;
	padding: 16px 0;

	h3 {
		@include hide-for(small);
	}

	footer {
		font-size: 14px;
		font-style: italic;

		> * {
			display: inline-block;
		}

		> a {
			&:before {
				content: '|';
				display: inline-block;
				padding: 0 4px 0 0;
			}
		}
	}
}

.indented {
	margin-left: 1rem;
}

[data-drupal-messages] {
	margin-bottom: 1rem;
	@include callout(map-get($foundation-palette, 'warning'));
}

.views-row {
	margin-bottom: 2rem;
}
