.dialog-off-canvas-main-canvas {
	position: static;
	z-index: 1;

	@include layer(base);
}

.admin-local-tasks {
	a {

		@include button();
	}
}

.links.inline {

	@extend %inline-list;

	li {
		margin-right: 0.5rem;
	}

	a {

		@include button();
	}
}

.field--name-comment-body {
	label {

		@include hide-for(small);
	}
}

.form-actions {
	margin-top: 1rem;
}

.js-comment {
	border-top: 1px solid $medium-gray;
	margin: 16px 0;
	padding: 16px 0;

	h3 {

		@include hide-for(small);
	}

	footer {
		font-size: 14px;
		font-style: italic;

		> * {
			display: inline-block;
		}

		> a {
			&:before {
				content: '|';
				display: inline-block;
				padding: 0 4px 0 0;
			}
		}
	}
}

.indented {
	margin-left: 1rem;
}

[data-drupal-messages] {
	background-color: map-get($foundation-palette, 'warning');
	border-radius: 3px;
	box-shadow: 0 0 3px $black;
	color: $black;
	margin-bottom: 1rem;
	padding: 10px 20px;
	position: relative;
	z-index: 10;
}

.views-row {
	margin-bottom: 2rem;

	&.content {
		margin-bottom: 0;

		+ .content {
			margin-top: var(--flow-space);
		}
	}

	.content & {

	}
}

.feed-icon {
	bottom: -38px;
	display: none;
	position: absolute;
	right: 0;
	z-index: 25;
	// TODO: Replace with RSS Icon.
}

#disqus_thread {
	margin-top: var(--flow-space);
}
