.container {
	position: relative;
}

.main {
	padding-top: var(--flow-space, $flow-space);
	pointer-events: none;
	position: relative;
	z-index: 2;

	> * + * {
		margin-top: var(--flow-space, $flow-space);
	}
}

.flow {
	> * + * {
		margin-top: var(--flow-space, $flow-space);
	}
}
