---
title: "Masthead"
layout: module.hbs
module: true
---

<!-- module:masthead -->
{{#parseFixture 'masthead.json'}}
	<figure class="column masthead">
		<div class="image" style="background-image: url('img/jewell.jpg');"></div>
	</figure>
{{/parseFixture}}
<!-- end module:masthead -->
