// Use this file to store common values like
// font size, z index, etc.
$heading-font: 'Patua One', sans-serif;
$copy-font: 'PT Sans', sans-serif;
$code-font: 'Inconsolata', monospace;
$grayoutline: rgb(225, 225, 225);

// Colors
$black: #0a0a0a;
$sail: #a2cdee;
$white: #ffffff;
$silver: #cccccc;
$mineshaft: #333333;
$deepmineshaft: #222222;
$dusty-grey: #999999;

// Palette
// Green
$celtic: #0f281b;
$tropical-rain-forest: #00794e;
$ocean-green: #4db586;
$vista-blue: #85caa7;
$skeptic: #bbe0d0;

// Blue
$aztec: #152624;
$blue-stone: #00665c;
$jungle-green: #259a92;
$fountain-blue: #5cc5c3;
$powder-blue: #b7e3e8;

// Yellow
$ronchi: #e8c453;

// Global Variables
$transition-time: 0.425s; // Common transition time for hover states, etc.
$header-breakpoint: large; // Used for consistent mobile to desktop header style switching
$below-header-breakpoint: medium down;
$placeholder-color: $black;
$standard-padding: rem-calc(20);
$radio-checkbox-size: rem-calc(24);
$flow-space: rem-calc(40);

:root {
	--flow-space: #{$flow-space};
}
