

<article class="content">


		<header class="content__header">
			<h1>Lorem heading dolor sit amet</h1>
				<time>01.23.2023</time>
		</header>

		<div class="content__body">
<div class="user-markup">
  				<p>Lorem dolor sit amet.</p>
  
  				<h2>Sample Header Level Two</h2>
  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate iste iure magni minima minus nemo officia perspiciatis unde? Delectus dolore ducimus eum neque, omnis provident quas quod reiciendis sed vitae.</p>
  
  				<h3>Sample Header Level Three</h3>
  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate iste iure magni minima minus nemo officia perspiciatis unde? Delectus dolore ducimus eum neque, omnis provident quas quod reiciendis sed vitae.</p>
  
  				<h4>Sample Header Level Four</h4>
  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate iste iure magni minima minus nemo officia perspiciatis unde? Delectus dolore ducimus eum neque, omnis provident quas quod reiciendis sed vitae.</p>
  
  				<h5>Sample Header Level Five</h5>
  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate iste iure magni minima minus nemo officia perspiciatis unde? Delectus dolore ducimus eum neque, omnis provident quas quod reiciendis sed vitae.</p>
  
  				<h6>Sample Header Level Six</h6>
  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate iste iure magni minima minus nemo officia perspiciatis unde? Delectus dolore ducimus eum neque, omnis provident quas quod reiciendis sed vitae.</p>
  
  
</div>
		</div>


		<footer class="content__footer">
			<ul class="links inline">
				<li class="node-readmore">
					<a href="/hello-world" rel="tag" title="Hello World" hreflang="en">Read more<span class="visually-hidden"> about Hello World</span></a>
				</li>
			</ul>
		</footer>

</article>

