

<article class="content content--with-expand expand expand--closed">

		<header class="content__header">
			<h1>Lorem heading dolor sit amet</h1>
		</header>

		<a href="#" class="content__trigger">
			<span class="show-for-sr">Toggle Expander</span>
			
			<svg class="ian-icon ian-icon-plus" focusable="false">
				<use xlink:href="#ian-icon-plus"></use>
			</svg>
		
			
			<svg class="ian-icon ian-icon-minus" focusable="false">
				<use xlink:href="#ian-icon-minus"></use>
			</svg>
		
		</a>
		<div class="content__expander content__expander--closed expand__content">
<div class="user-markup">
  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eligendi impedit inventore laudantium nesciunt nihil pariatur similique soluta unde voluptas. Accusamus, adipisci assumenda autem enim ex optio quam quis quisquam.</p>
  				<p>Iit inventore laudantium nesciunt nihil pariatur similique soluta unde voluptas. Accusamus, assumenda autem enim ex optio quam quis quisquam.</p>
</div>
		</div>

</article>

