

<article class="content content--with-posts posts">

		<header class="content__header">
			<h1>Lorem heading dolor sit amet</h1>
		</header>

		<div class="content__posts posts__posts">
			<ul>
					<li class="posts__post">
						<a href="#" class="posts__link">Sample post title for stuff on my site.</a>
					</li>
					<li class="posts__post">
						<a href="#" class="posts__link">Yet another post about things.</a>
					</li>
					<li class="posts__post">
						<a href="#" class="posts__link">2023-01-03</a>
					</li>
					<li class="posts__post">
						<a href="#" class="posts__link">Sample post title for stuff on my site.</a>
					</li>
			</ul>
				<footer class="content__footer">
					<ul class="links inline">
							<li class="node-readmore">
								<a href="/hello-world" rel="tag" title="Hello World" hreflang="en">Read more<span class="visually-hidden"> about Hello World</span></a>
							</li>
					</ul>
				</footer>
		</div>

</article>

