

<footer id="js-global-footer" class="global-footer">
	<section class="global-footer__info">
		<h2>Hi! I'm Ian Moffitt.</h2>

		<p>I'm a
			<a href="https://css-tricks.com/poll-results-front-end-front-end/" title="front-end" rel="noopener">front-end</a>
			developer working in Pittsburgh, PA.</p>

		<a class="logo" href="/" title="Home Page">
  <img src="/img/logo.svg" alt="Ian Moffitt" />
</a>

	</section>

	<section class="global-footer__links">
		<ul class="global-footer__list">
			<li><a href="https://www.twitter.com/nessthehero" title="Twitter" class="global-footer__link">Twitter</a></li>
		</ul>

		<ul class="global-footer__list">
			<li><a class="global-footer__link" href="/about.html">About Me</a></li>
		</ul>
	</section>
</footer>

