

<article class="content content--snippet">

	<div class="content__wrapper">

		<div class="content__body">

			<header>
				<time>August 4th, 2019</time>
			</header>

<div class="user-markup">
  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur enim est expedita fuga maiores necessitatibus obcaecati quae quibusdam, ut! Deserunt dignissimos dolores molestias mollitia nostrum quaerat repudiandae rerum veritatis.</p>
</div>

			<figure class="content__figure">
				<picture>
					<source srcset="https://picsum.photos/1920/1080 1x" media="screen and (min-width: 1280px)" type="image/jpeg">
					<source srcset="https://picsum.photos/1090/613 1x" media="screen and (min-width: 768px)" type="image/jpeg">
					<source srcset="https://picsum.photos/640/360 1x" media="screen and (min-width: 640px)" type="image/jpeg">
					<source srcset="https://picsum.photos/640/360 2x" media="screen" type="image/jpeg">
					<img src="https://picsum.photos/320/180" alt="Lorem dolor" />
				</picture>
				<figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto commodi cumque ea excepturi id molestias quo repellendus veniam voluptate voluptates? Blanditiis consequatur fugit hic iure, molestiae sapiente ullam vel vero.</figcaption>
			</figure>

		</div>

		<footer class="content__footer">
			<ul class="links inline">
				<li class="node-readmore">
					<a href="/hello-world" rel="tag" title="Hello World" hreflang="en">Read more<span class="visually-hidden"> about Hello World</span></a>
				</li>
			</ul>
		</footer>

	</div>

</article>

<article class="content content--with-img content--snippet">

	<div class="content__wrapper">

		<div class="content__body">

			<header>
				<time>August 4th, 2019</time>
			</header>

<div class="user-markup">
  
  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur enim est expedita fuga maiores necessitatibus obcaecati quae quibusdam, ut! Deserunt dignissimos dolores molestias mollitia nostrum quaerat repudiandae rerum veritatis.</p>
  
</div>
		</div>

<!--		<footer class="content__footer">-->
<!--			<ul class="links inline">-->
<!--				<li class="node-readmore">-->
<!--					<a href="/hello-world" rel="tag" title="Hello World" hreflang="en">Read more<span class="visually-hidden"> about Hello World</span></a>-->
<!--				</li>-->
<!--			</ul>-->
<!--		</footer>-->

	</div>

</article>

<article class="content content--snippet">

	<div class="content__wrapper">

		<div class="content__body">

			<header>
				<time>August 4th, 2019</time>
			</header>

<div class="user-markup">
  
  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur enim est expedita fuga maiores necessitatibus obcaecati quae quibusdam, ut! Deserunt dignissimos dolores molestias mollitia nostrum quaerat repudiandae rerum veritatis.</p>
  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur enim est expedita fuga maiores necessitatibus obcaecati quae quibusdam, ut! Deserunt dignissimos dolores molestias mollitia nostrum quaerat repudiandae rerum veritatis.</p>
  
</div>
		</div>

	</div>

</article>

