

<section class="work-grid">
		<article class="work content">
			<a class="work__link" href="https://www.cpcc.edu" rel="noopener">
				<div class="work__content user-markup">
					<h2>CPCC</h2>
						<dl class="rundown">
			<dt class="rundown__term">Involvement</dt>
			<dd class="rundown__definition">Static coding of base templates and integration of those templates into Drupal 8.</dd>
	</dl>

				</div>
			</a>
		</article>
		<article class="work content">
			<a class="work__link" href="https://www.cpcc.edu" rel="noopener">
				<div class="work__content user-markup">
					<h2>CPCC</h2>
						<dl class="rundown">
			<dt class="rundown__term">Involvement</dt>
			<dd class="rundown__definition">Static coding of base templates and integration of those templates into Drupal 8.</dd>
	</dl>

				</div>
			</a>
		</article>
		<article class="work content">
			<a class="work__link" href="https://www.cpcc.edu" rel="noopener">
				<div class="work__content user-markup">
					<h2>CPCC</h2>
						<dl class="rundown">
			<dt class="rundown__term">Involvement</dt>
			<dd class="rundown__definition">Static coding of base templates and integration of those templates into Drupal 8.</dd>
	</dl>

				</div>
			</a>
		</article>
		<article class="work content">
			<a class="work__link" href="https://www.cpcc.edu" rel="noopener">
				<div class="work__content user-markup">
					<h2>CPCC</h2>
						<dl class="rundown">
			<dt class="rundown__term">Involvement</dt>
			<dd class="rundown__definition">Static coding of base templates and integration of those templates into Drupal 8.</dd>
	</dl>

				</div>
			</a>
		</article>
		<article class="work content">
			<a class="work__link" href="https://www.cpcc.edu" rel="noopener">
				<div class="work__content user-markup">
					<h2>CPCC</h2>
						<dl class="rundown">
			<dt class="rundown__term">Involvement</dt>
			<dd class="rundown__definition">Static coding of base templates and integration of those templates into Drupal 8.</dd>
	</dl>

				</div>
			</a>
		</article>
</section>


<article class="content">

<div class="user-markup">
  
  		<header>
  			<h1>Heading for whatever this is</h1>
  			<time>August 4th, 2019</time>
  		</header>
  
  		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur enim est expedita fuga maiores necessitatibus obcaecati quae quibusdam, ut! Deserunt dignissimos dolores molestias mollitia nostrum quaerat repudiandae rerum veritatis.</p>
  
</div>

</article>

<article class="content">

<div class="user-markup">
  
  		<header>
  			<h1>Heading for whatever this is</h1>
  			<time>August 4th, 2019</time>
  		</header>
  
  		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur enim est expedita fuga maiores necessitatibus obcaecati quae quibusdam, ut! Deserunt dignissimos dolores molestias mollitia nostrum quaerat repudiandae rerum veritatis.</p>
  
</div>

</article>

