

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<!-- http://microformats.org/wiki/hcard-cheatsheet -->
	<link rel="profile" href="http://microformats.org/profile/hcard"/>

	<link media="all" rel="stylesheet" href="../../css/main.css">

	<title></title>

	<script type="text/javascript" src="../../js/plugins/modernizr.js"></script>

</head>
<body>
	<svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>


	<div class="container">
		<main>
			

			<footer id="js-global-footer" class="global-footer">

	<section class="global-footer__info">

		<div class="user-markup">
			<h2>Hi! I'm Ian Moffitt.</h2>

			<p>I'm a
				<a href="https://css-tricks.com/poll-results-front-end-front-end/" title="front-end" rel="noopener">front-end</a>
				developer working in Pittsburgh, PA.</p>
		</div>

		<a class="logo" href="/" title="Home Page">
	<!--  <img src="/img/logo.svg" alt="Ian Moffitt" />-->
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 viewBox="0 0 85.4 89.5" style="enable-background:new 0 0 85.4 89.5;" xml:space="preserve">
		<path class="letter_m" d="M70.1,21.7l-15,26.1L38.7,7.9c-0.2-0.4-0.5-0.7-0.8-0.8L20.6,0v72l16.3,4.4c0.8,0.2,1.6-0.4,1.6-1.2V42.1 l15.9,37.5c0.3,0.7,1.4,0.8,1.7,0.1l14.7-26.6v31.5c0,0.6,0.4,1.2,1,1.3l12.7,3.5c0.5,0.1,1-0.2,1-0.7V27.6c0-0.6-0.4-1.2-1-1.5	L72,21C71.3,20.7,70.4,21,70.1,21.7z"/>
		<path class="letter_i" d="M16.2,72L2.1,76.2c-1,0.3-2.1-0.5-2.1-1.6V8.6c0-0.8,0.5-1.5,1.2-1.9l15-6.8L16.2,72C16.2,72,16.2,72,16.2,72z"/>
	</svg>
</a>


		<p class="global-footer__copyright">&copy; Ian Moffitt 2021</p>

	</section>

	<section class="global-footer__links">

		<ul class="global-footer__list">
			<li><a href="https://www.twitter.com/nessthehero" title="Twitter" class="global-footer__link">Twitter</a>
			</li>
		</ul>

		<ul class="global-footer__list">
			<li><a class="global-footer__link" href="/about.html">About Me</a></li>
		</ul>

	</section>

</footer>

		</main>
	</div>

	<canvas id="base" class="grid-base"></canvas>


	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

		<script type="text/javascript" src="../../js/vendor.js"></script>
		<script type="text/javascript" src="../../js/main.js"></script>

</body>
</html>

