

<section class="work-grid">
		<article class="work content">
			<a class="work__link" href="https://www.cpcc.edu" rel="noopener">
				<div class="work__content user-markup">
					<h2>CPCC</h2>
						<dl class="rundown">
			<dt class="rundown__term">Involvement</dt>
			<dd class="rundown__definition">Static coding of base templates and integration of those templates into Drupal 8.</dd>
	</dl>

				</div>
			</a>
		</article>
		<article class="work content">
			<a class="work__link" href="https://www.cpcc.edu" rel="noopener">
				<div class="work__content user-markup">
					<h2>CPCC</h2>
						<dl class="rundown">
			<dt class="rundown__term">Involvement</dt>
			<dd class="rundown__definition">Static coding of base templates and integration of those templates into Drupal 8.</dd>
	</dl>

				</div>
			</a>
		</article>
		<article class="work content">
			<a class="work__link" href="https://www.cpcc.edu" rel="noopener">
				<div class="work__content user-markup">
					<h2>CPCC</h2>
						<dl class="rundown">
			<dt class="rundown__term">Involvement</dt>
			<dd class="rundown__definition">Static coding of base templates and integration of those templates into Drupal 8.</dd>
	</dl>

				</div>
			</a>
		</article>
		<article class="work content">
			<a class="work__link" href="https://www.cpcc.edu" rel="noopener">
				<div class="work__content user-markup">
					<h2>CPCC</h2>
						<dl class="rundown">
			<dt class="rundown__term">Involvement</dt>
			<dd class="rundown__definition">Static coding of base templates and integration of those templates into Drupal 8.</dd>
	</dl>

				</div>
			</a>
		</article>
		<article class="work content">
			<a class="work__link" href="https://www.cpcc.edu" rel="noopener">
				<div class="work__content user-markup">
					<h2>CPCC</h2>
						<dl class="rundown">
			<dt class="rundown__term">Involvement</dt>
			<dd class="rundown__definition">Static coding of base templates and integration of those templates into Drupal 8.</dd>
	</dl>

				</div>
			</a>
		</article>
</section>

