

<article class="work content">
	<a class="work__link" href="" rel="noopener">
		<div class="work__content user-markup">
			<h2></h2>
				<dl class="rundown">
			<dt class="rundown__term">Team</dt>
			<dd class="rundown__definition">BarkleyREI</dd>
			<dt class="rundown__term">Client</dt>
			<dd class="rundown__definition">Central Piedmont Community College</dd>
			<dt class="rundown__term">Involvement</dt>
			<dd class="rundown__definition">Static coding of base templates and integration of those templates into Drupal 8.</dd>
			<dt class="rundown__term">Technology</dt>
			<dd class="rundown__definition">Drupal 8</dd>
	</dl>

		</div>
	</a>
</article>

