---
title: IanMoffitt.dev
permalink: "404.html"
---
{% extends "layouts/default.njk" %}

{% block content %}
  <article class="content">
	  <header>
		  <h1>404 Page Not Found</h1>
		  <p>You seem lost. Click the logo in the footer to go back to the home page.</p>
	  </header>
  </article>
{% endblock %}

