---
title: IanMoffitt.dev
permalink: "| 404.html"
---
extends _includes/layouts/default.pug

block content
  article.content
    header
      h1 404 Page Not Found
      p You seem lost. Click the logo in the footer to go back to the home page.
