---
title: 'IanMoffitt.dev'
---
{% extends "layouts/default.njk" %}

{% block content %}
	<article class="content">
		<header>
			<h1>Hello there!</h1>
		</header>
		<div class="user-markup">
			{% markdown %}
				{%- include "copy/intro.md" -%}
			{% endmarkdown %}
		</div>
	</article>

	{% for post in posts.data | slice(5) %}
		{% if post[0].attributes.title %}
			{% set p = post[0].attributes %}
			<article class="content{% if p.field_display_style %} content--{{ p.field_display_style }}{% endif %}" style="view-transition-name: post-{{ p.drupal_internal__nid }}">
				<header>
					<h2>{{ p.title }}</h2>
				</header>
				<div class="user-markup">
					{% if p.body.summary %}
						<p>{{ p.body.summary }}</p>
					{% endif %}
					<a href="{{ p.path.alias }}" class="small button">Read More</a>
				</div>
			</article>
		{% endif %}
	{% endfor %}
	{% if posts.length > 5 %}
		<article class="content">
			<div class="user-markup">
				<a href="/posts" class="expanded button">View More Posts</a>
			</div>
		</article>
	{% endif %}
{% endblock %}