---
pagination:
  data: posts.data
  size: 1
  alias: post
  resolve: values
permalink: "| #{ post.attributes.path.alias }/index.html"
title: "IanMoffitt.dev - #{post.attributes.title}"
---
extends _includes/layouts/default.pug

block content
  article.content
    header
      time #{new Date(Date.parse(post.attributes.created)).toDateString()}
      h1 #{post.attributes.title}
    .user-markup
      !=post.attributes.body.processed