---
pagination:
  data: posts.data
  size: 1
  alias: post
  resolve: values
permalink: "{{ post.attributes.path.alias }}/index.html"
eleventyComputed:
  title: "IanMoffitt.dev - {{ post.attributes.title }}"
---
{% extends "layouts/default.njk" %}

{% block content %}
	<article class="content" style="view-transition-name: post-{{ post.attributes.drupal_internal__nid }}">
		<header>
			{% if post.attributes.field_hide_date === FALSE %}
				<time>{{ post.attributes.created | date('MMM d, yyyy') }}</time>
			{% endif %}
			{% if post.attributes.show_last_updated === TRUE %}
				<time>Last updated {{ post.attributes.changed | date('MMM d, yyyy') }}</time>
			{% endif %}
			{% if post.attributes.field_hide_title === FALSE %}
				<h1>{{ post.attributes.title }}</h1>
			{% endif %}
		</header>
		<div class="user-markup">
			{{ post.attributes.body.processed | safe }}
		</div>
	</article>

	{% if isDevelopment %}
		<article class="content">
			<p><a href="{{ post.links.self.href }}">View JSON Data</a></p>
			<pre>{{ post | debug | safe }}</pre>
		</article>
	{% endif %}
{% endblock %}