---
pagination:
  data: posts.data
  size: 1
  alias: post
  resolve: values
permalink: "{{ post.attributes.path.alias }}/index.html"
eleventyComputed:
  title: "IanMoffitt.dev - {{ post.attributes.title }}"
---
{% extends "layouts/default.njk" %}

{% block meta %}
	{{ super() }}
	{%- if post.attributes.metatag -%}
		{%- for metatag in post.attributes.metatag -%}
			{%- if metatag.tag == 'meta' %}
				<meta {% if metatag.attributes.name %}name="{{ metatag.attributes.name }}" {% endif %}{% if metatag.attributes.content %}content="{{ metatag.attributes.content }}" {% endif %}/>
			{% elseif metatag.tag == 'link' %}
				<link {% if metatag.attributes.rel %}rel="{{ metatag.attributes.rel }}" {% endif %}{% if metatag.attributes.href %}href="{{ metatag.attributes.href }}" {% endif %}/>
			{% endif -%}
		{%- endfor -%}
	{%- endif -%}
	{% if post.created %}
		<meta name="article:published_time" content="{{ post.created }}" />
	{% endif %}
	{% if post.changed %}
		<meta name="article:modified_time" content="{{ post.changed }}" />
	{% endif %}
{% endblock %}

{% block content %}
	<article class="content cell" style="view-transition-name: post-{{ post.attributes.drupal_internal__nid }}">
		<header>
			{% if post.attributes.field_hide_date === FALSE %}
				<time>{{ post.attributes.created | date('MMM d, yyyy') }}</time>
			{% endif %}
			{% if post.attributes.show_last_updated === TRUE %}
				<time>Last updated {{ post.attributes.changed | date('MMM d, yyyy') }}</time>
			{% endif %}
			{% if post.attributes.field_hide_title === FALSE %}
				<h1>{{ post.attributes.title }}</h1>
			{% endif %}
		</header>
		<div class="user-markup">
			{{ post.attributes.body.processed | safe }}
		</div>
	</article>

	{% if isDevelopment %}
		<article class="content">
			<p><a href="{{ post.links.self.href }}">View JSON Data</a></p>
			<details>
				<summary>Debug Info</summary>
				<pre>{{ post | debug | safe }}</pre>
			</details>
		</article>
	{% endif %}
{% endblock %}