---
title: "IanMoffitt.dev - Archive"
permalink: "posts/index.html"
dynamicPermalink: false
---
extends _includes/layouts/default.pug

block content
  article.content
    .user-markup
      h1 Archive
      - let displayYear = 0;
      if posts
        each post in posts.data
          -
            const p = post.attributes;
            let postDate = new Date(Date.parse(p.created)).getFullYear()
          if postDate !== displayYear
            - displayYear = postDate
            h2 #{postDate}
          a(href=p.path.alias) #{p.title}
          br
