<table class="table" id="site-icons">
	{{#each icons}}
		<tr>
			<td style="color: black; font-size: 32px; width: 32px; height: 32px;">
				{{svg this}}
			</td>
			<td>icon-{{this}}</td>
			<td>\{{svg "{{this}}"}}</td>
		</tr>
	{{/each}}
</table>
