---
title: Home Page
template: true
layout: home.hbs
---


<header class="article__header">
	<h1>Hello! My name is Ian Moffitt. I make websites.</h1>
</header>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna
	ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra.
	Nulla fringilla.</p>

{{> _results-set }}
