---
title: "Level"
template: true
---

<!-- template:level -->
{{#parseFixture 'level.json'}}
<main id="main" class="main level row">

	<article class="article column">

		<header class="article__header">
			<h1>This is the article title</h1>
			<p class="introduction">This is some introduction flavor text for the article.</p>
		</header>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae culpa dignissimos illo itaque nobis tenetur voluptate. Ad architecto eveniet impedit neque non quae quia sint, soluta velit voluptate. Earum, placeat.</p>

		<h2>H2 Section Heading</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, totam, vitae! A ab aspernatur cum doloribus, eos fugiat labore laboriosam magnam necessitatibus numquam odio quas sapiente temporibus ullam veritatis voluptates.</p>

		<h3>H3 Section Heading</h3>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, totam, vitae! A ab aspernatur cum doloribus, eos fugiat labore laboriosam magnam necessitatibus numquam odio quas sapiente temporibus ullam veritatis voluptates.</p>

		<h4>H4 Section Heading</h4>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, totam, vitae! A ab aspernatur cum doloribus, eos fugiat labore laboriosam magnam necessitatibus numquam odio quas sapiente temporibus ullam veritatis voluptates.</p>

		<h5>H5 Section Heading</h5>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, totam, vitae! A ab aspernatur cum doloribus, eos fugiat labore laboriosam magnam necessitatibus numquam odio quas sapiente temporibus ullam veritatis voluptates.</p>

		<h6>H6 Section Heading</h6>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, totam, vitae! A ab aspernatur cum doloribus, eos fugiat labore laboriosam magnam necessitatibus numquam odio quas sapiente temporibus ullam veritatis voluptates.</p>

		<h3>Definition List</h3>
		<dl>
			<dt>Definition List Title</dt>
			<dd>This is a definition list division.</dd>
		</dl>

		<h3>Ordered List</h3>
		<ol>
			<li>List Item 1</li>
			<li>List Item 2</li>
			<li>List Item 3</li>
		</ol>

		<h3>Unordered List</h3>
		<ul>
			<li>List Item 1</li>
			<li>List Item 2</li>
			<li>List Item 3</li>
		</ul>

	</article>

</main>
{{/parseFixture}}
<!-- end template:level -->
