.widget_calendar {

	caption {
		@include em_margin(0, 0, 0, 3.2);
	}

	table,
	tr,
	th,
	td {
		border-width: 2px;
		border-color: $bodyBgGrey;
		border-style: solid;
	}

	td {
		background-color: $white;
		text-align: center;
		white-space: nowrap;
		border-radius: 8px;
		@include em_width(32);
	}

	th {
		background-color: $lightPink;
		color: $white;
		border-radius: 8px;
	}

}
