

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link media="all" rel="stylesheet" href="../../css/main.css">
	<title>Content: Default - Preview</title>

	<script type="text/javascript" src="../../js/plugins/modernizr.js"></script>

	<style type="text/css">
		body {
			margin: 16px;
		}

		.f-component-wrapper {
			display: grid;
		}
	</style>
</head>
<body>

	<svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	<defs>
		<symbol id="ian-icon-plus" viewBox="0 0 32 32">
			<path d="M31 12h-11v-11c0-0.552-0.448-1-1-1h-6c-0.552 0-1 0.448-1 1v11h-11c-0.552 0-1 0.448-1 1v6c0 0.552 0.448 1 1 1h11v11c0 0.552 0.448 1 1 1h6c0.552 0 1-0.448 1-1v-11h11c0.552 0 1-0.448 1-1v-6c0-0.552-0.448-1-1-1z"></path>
		</symbol>
		<symbol id="ian-icon-minus" viewBox="0 0 32 32">
			<path d="M0 13v6c0 0.552 0.448 1 1 1h30c0.552 0 1-0.448 1-1v-6c0-0.552-0.448-1-1-1h-30c-0.552 0-1 0.448-1 1z"></path>
		</symbol>
	</defs>
</svg>


	<div class="f-component-wrapper">
		<article class="content">


		<header class="content__header">
			<h1>Lorem heading dolor sit amet</h1>
				<time>01.23.2023</time>
		</header>

		<div class="content__body">
<div class="user-markup">
  				<p>Lorem dolor sit amet.</p>
  
  				<h2>Sample Header Level Two</h2>
  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate iste iure magni minima minus nemo officia perspiciatis unde? Delectus dolore ducimus eum neque, omnis provident quas quod reiciendis sed vitae.</p>
  
  				<h3>Sample Header Level Three</h3>
  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate iste iure magni minima minus nemo officia perspiciatis unde? Delectus dolore ducimus eum neque, omnis provident quas quod reiciendis sed vitae.</p>
  
  				<h4>Sample Header Level Four</h4>
  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate iste iure magni minima minus nemo officia perspiciatis unde? Delectus dolore ducimus eum neque, omnis provident quas quod reiciendis sed vitae.</p>
  
  				<h5>Sample Header Level Five</h5>
  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate iste iure magni minima minus nemo officia perspiciatis unde? Delectus dolore ducimus eum neque, omnis provident quas quod reiciendis sed vitae.</p>
  
  				<h6>Sample Header Level Six</h6>
  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate iste iure magni minima minus nemo officia perspiciatis unde? Delectus dolore ducimus eum neque, omnis provident quas quod reiciendis sed vitae.</p>
  
  
</div>
		</div>


		<footer class="content__footer">
			<ul class="links inline">
				<li class="node-readmore">
					<a href="/hello-world" rel="tag" title="Hello World" hreflang="en">Read more<span class="visually-hidden"> about Hello World</span></a>
				</li>
			</ul>
		</footer>

</article>

	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

			<script type="text/javascript" src="/js/vendor.js"></script>
			<script type="text/javascript" src="/js/main.js"></script>

</body>
</html>

