

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<!-- http://microformats.org/wiki/hcard-cheatsheet -->
	<link rel="profile" href="http://microformats.org/profile/hcard"/>

	<link media="all" rel="stylesheet" href="../../css/main.css">

	<title>Now: Default</title>

	<script type="text/javascript" src="../../js/plugins/modernizr.js"></script>



</head>
<body>
	<svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>


	<div class="container">
		<main class="main home row column">
			<header class="content__header view-header">
	<div id="block-nth-pagetitle">


		<h1>Latest Posts</h1>


	</div>


</header>

<div data-drupal-messages-fallback="" class="hidden"></div>
<div id="block-mainpagecontent">
	<div class="views-element-container">
		<div class="js-view-dom-id-c36218227ba2a43e04e55226bcc8360772fe945b8a84449906739980f096227a" data-once="ajax-pager">


			<div class="content content--full views-row">
				<div class="content__body">

					<header class="content__header">

						<h2>
							<a href="/now/march-10-2022" rel="bookmark"><span>March 10, 2022</span>
							</a>
						</h2>


					</header>


					<div class="user-markup">
						<p>Sed porttitor lectus nibh. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Proin eget tortor risus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Sed porttitor lectus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
						<p>Nulla quis lorem ut libero malesuada feugiat. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur aliquet quam id dui posuere blandit. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Sed porttitor lectus nibh. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla porttitor accumsan tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Curabitur aliquet quam id dui posuere blandit.</p>
						<p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Pellentesque in ipsum id orci porta dapibus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur aliquet quam id dui posuere blandit. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Nulla quis lorem ut libero malesuada feugiat. Pellentesque in ipsum id orci porta dapibus.</p>
					</div>


				</div>


			</div>
			<div class="content content--full views-row">
				<div class="content__body">

					<header class="content__header">

						<h2>
							<a href="/now/march-1-2022" rel="bookmark"><span>March 1, 2022</span>
							</a>
						</h2>


					</header>


					<div class="user-markup">
						<p>Sed porttitor lectus nibh. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Proin eget tortor risus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Sed porttitor lectus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
						<p>Nulla quis lorem ut libero malesuada feugiat. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur aliquet quam id dui posuere blandit. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Sed porttitor lectus nibh. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla porttitor accumsan tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Curabitur aliquet quam id dui posuere blandit.</p>
						<p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Pellentesque in ipsum id orci porta dapibus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur aliquet quam id dui posuere blandit. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Nulla quis lorem ut libero malesuada feugiat. Pellentesque in ipsum id orci porta dapibus.</p>
					</div>


				</div>


			</div>
			<div class="content content--full views-row">
				<div class="content__body">

					<header class="content__header">

						<h2>
							<a href="/now/february-21-2022" rel="bookmark"><span>February 21, 2022</span>
							</a>
						</h2>


					</header>


					<div class="user-markup"><p>It's the first post of Now!</p>
						<p>Sed porttitor lectus nibh. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Proin eget tortor risus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Sed porttitor lectus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
						<p>Nulla quis lorem ut libero malesuada feugiat. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur aliquet quam id dui posuere blandit. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Sed porttitor lectus nibh. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla porttitor accumsan tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Curabitur aliquet quam id dui posuere blandit.</p>
						<p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Pellentesque in ipsum id orci porta dapibus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur aliquet quam id dui posuere blandit. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Nulla quis lorem ut libero malesuada feugiat. Pellentesque in ipsum id orci porta dapibus.</p>
					</div>


				</div>


			</div>

			<nav class="js-pager" role="navigation" aria-labelledby="pagination-heading--8TzKYQmkBPY">
				<ul class="js-pager__items">
					<li class="js-pager__prev">
						<a href="/views/ajax?page=0" title="Go to previous page" rel="prev">
							<span aria-hidden="true">Previous</span>
						</a>
					</li>
					<li class="js-pager__current">
						Page 1
					</li>
					<li class="js-pager__next">
						<a href="/views/ajax?page=1" title="Go to next page" rel="next">
							<span aria-hidden="true">Next</span>
						</a>
					</li>
				</ul>
			</nav>

			<nav class="js-pager" role="navigation" aria-labelledby="pagination-heading--8TzKYQmkBPY">
				<ul class="js-pager__items">
					<li class="js-pager__current">
						Page 1
					</li>
					<li class="js-pager__next">
						<a href="/views/ajax?page=1" title="Go to next page" rel="next">
							<span aria-hidden="true">Next</span>
						</a>
					</li>
				</ul>
			</nav>

			<nav class="js-pager" role="navigation" aria-labelledby="pagination-heading--8TzKYQmkBPY">
				<ul class="js-pager__items">
					<li class="js-pager__prev">
						<a href="/views/ajax?page=0" title="Go to previous page" rel="prev">
							<span aria-hidden="true">Previous</span>
						</a>
					</li>
					<li class="js-pager__current">
						Page 1
					</li>
				</ul>
			</nav>

		</div>
	</div>
</div>


			<footer id="js-global-footer" class="global-footer">

	<section class="global-footer__info">

		<div class="user-markup">
			<h2>Hi! I'm Ian Moffitt.</h2>

			<p>I'm a
				<a href="https://css-tricks.com/poll-results-front-end-front-end/" title="front-end" rel="noopener">front-end</a>
				developer working in Pittsburgh, PA.</p>
		</div>

		<a class="logo" href="/" title="Home Page">
	<!--  <img src="/img/logo.svg" alt="Ian Moffitt" />-->
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 viewBox="0 0 85.4 89.5" style="enable-background:new 0 0 85.4 89.5;" xml:space="preserve">
		<path class="letter_m" d="M70.1,21.7l-15,26.1L38.7,7.9c-0.2-0.4-0.5-0.7-0.8-0.8L20.6,0v72l16.3,4.4c0.8,0.2,1.6-0.4,1.6-1.2V42.1 l15.9,37.5c0.3,0.7,1.4,0.8,1.7,0.1l14.7-26.6v31.5c0,0.6,0.4,1.2,1,1.3l12.7,3.5c0.5,0.1,1-0.2,1-0.7V27.6c0-0.6-0.4-1.2-1-1.5	L72,21C71.3,20.7,70.4,21,70.1,21.7z"/>
		<path class="letter_i" d="M16.2,72L2.1,76.2c-1,0.3-2.1-0.5-2.1-1.6V8.6c0-0.8,0.5-1.5,1.2-1.9l15-6.8L16.2,72C16.2,72,16.2,72,16.2,72z"/>
	</svg>
</a>


		<p class="global-footer__copyright">&copy; Ian Moffitt 2021</p>

	</section>

	<section class="global-footer__links">

		<ul class="global-footer__list">
			<li><a href="https://www.twitter.com/nessthehero" title="Twitter" class="global-footer__link">Twitter</a>
			</li>
		</ul>

		<ul class="global-footer__list">
			<li><a class="global-footer__link" href="/about.html">About Me</a></li>
		</ul>

	</section>

</footer>

		</main>
	</div>

	<canvas id="base" class="grid-base"></canvas>


	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

			<script type="text/javascript" src="/js/vendor.js"></script>
			<script type="text/javascript" src="/js/main.js"></script>

</body>
</html>

