

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link media="all" rel="stylesheet" href="../../css/main.css">
	<title>Work Grid: Default - Preview</title>

	<script type="text/javascript" src="../../js/plugins/modernizr.js"></script>

	<style type="text/css">

		html {
			background-color: darkgray;
		}

		body {
			margin: 0 16px;
			background-color: white;
		}

	</style>

</head>
<body>

	<svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>


	<div class="user-markup">
		<section class="work-grid">
		<article class="work content">
			<a class="work__link" href="https://www.cpcc.edu" rel="noopener">
				<div class="work__content user-markup">
					<h2>CPCC</h2>
						<dl class="rundown">
			<dt class="rundown__term">Involvement</dt>
			<dd class="rundown__definition">Static coding of base templates and integration of those templates into Drupal 8.</dd>
	</dl>

				</div>
			</a>
		</article>
		<article class="work content">
			<a class="work__link" href="https://www.cpcc.edu" rel="noopener">
				<div class="work__content user-markup">
					<h2>CPCC</h2>
						<dl class="rundown">
			<dt class="rundown__term">Involvement</dt>
			<dd class="rundown__definition">Static coding of base templates and integration of those templates into Drupal 8.</dd>
	</dl>

				</div>
			</a>
		</article>
		<article class="work content">
			<a class="work__link" href="https://www.cpcc.edu" rel="noopener">
				<div class="work__content user-markup">
					<h2>CPCC</h2>
						<dl class="rundown">
			<dt class="rundown__term">Involvement</dt>
			<dd class="rundown__definition">Static coding of base templates and integration of those templates into Drupal 8.</dd>
	</dl>

				</div>
			</a>
		</article>
		<article class="work content">
			<a class="work__link" href="https://www.cpcc.edu" rel="noopener">
				<div class="work__content user-markup">
					<h2>CPCC</h2>
						<dl class="rundown">
			<dt class="rundown__term">Involvement</dt>
			<dd class="rundown__definition">Static coding of base templates and integration of those templates into Drupal 8.</dd>
	</dl>

				</div>
			</a>
		</article>
		<article class="work content">
			<a class="work__link" href="https://www.cpcc.edu" rel="noopener">
				<div class="work__content user-markup">
					<h2>CPCC</h2>
						<dl class="rundown">
			<dt class="rundown__term">Involvement</dt>
			<dd class="rundown__definition">Static coding of base templates and integration of those templates into Drupal 8.</dd>
	</dl>

				</div>
			</a>
		</article>
</section>

	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


</body>
</html>

